*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    
}
table{
    border-collapse: collapse;
}
table , th , td{
    border: 1px solid yellowgreen;
}
table{
    width: 80%;
}
th{
    height: 40px;
}
td{
    height: 30px;
    text-align: center;
    font-weight: bold;
}